/* Google Fonts */

/* CSS Variables */
:root {
  --header-height: 3rem;
  --fw-medium: 500;
}

/* Colors */
:root {
  --clr-primary: #e98074;
  --clr-white: #fafaff;
  --clr-dark: #2a3b47;
  --clr-text: #697477;
}

/* Typography */
:root {
  --ff-body: 'Poppins', sans-serif;
  --fs-large: 6.25rem;
  --fs-h2: 1.25rem;
  --fs-regular: 0.938rem;
  --fs-small: 0.813rem;
}

@media screen and (min-width: 768px) {
  :root {
    --fs-large: 10.5rem;
    --fs-h2: 2rem;
    --fs-regular: 1rem;
    --fs-small: 0.875rem;
  }
}

/* Margins */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/* z-index */
:root {
  --z-fixed: 100;
}

/* Base CSS */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--ff-body);
  font-size: var(--fs-regular);
  font-weight: var(--fw-medium);
  color: var(--clr-text);
  line-height: 1.6;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-text);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Class CSS */
.section {
  padding: 3rem 0;
}

.section-title {
  position: relative;
  font-size: var(--fs-h2);
  color: var(--clr-dark);
  margin: var(--mb-4) 0;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 32px;
  height: 0.18rem;
  left: 0;
  right: 0;
  top: 2rem;
  margin: auto;
  background-color: var(--clr-primary);
}

/* Layout */

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% -2rem);
  margin-left: var(--mb-2);
  margin-left: var(--mb-2);
}

/* Dreamcoding ver. mywork css */

.work__categories {
  margin: 40px;
}
.category__btn {
  box-shadow: inset 0 0 0 1px var(--color-light-grey);
  border-radius: var(--br-size);
  font-size: var(--fs-regular);
  font-family: inherit;
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  box-shadow: none;
  background-color: var(--clr-primary-dark);
  color: var(--clr-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  display: inline-block;
  line-height: 24px;
  background-color: var(--clr-primary);
  border-radius: 50%;
  color: var(--clr-white);
  width: 24px;
  height: 24px;
  position: relative;
  opacity: 0;
  top: -20px;
  left: 4px;
  transition: all var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-white);
  width: 280px;
  height: 250px;
  margin: 2px;
  position: relative;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--clr-dark);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}

.project__description h3 {
  color: var(--clr-white);
}

.project__description h3::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 40px;
  height: 2px;
  margin: 20px 0 10px -20px;
  background-color: var(--color-dark-white);
}
